
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
    justify-content: center;
}
   

.gridPic{
    height: 40vh;
    display: flex;
   width:20vw;
   margin:auto;
   min-width: 350px;
  
}
.grid-item{
   
    margin-top:4%;
    margin-bottom: 4%;
text-align: center;

}
.description{
    text-align: center; 
    justify-content:center ;
}
.gridText{
    font-size: 2rem;
}